@import url(https://db.onlinewebfonts.com/c/ac95f91c55cc591ecf37a4d136ff8031?family=BMWTypeNext+Pro+Regular);
@import url(https://db.onlinewebfonts.com/c/0e6de1ec911a2e267ff136bbdd384a44?family=Helvetica+Neue+Light);

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  font-family: 'BMWTypeNext Pro Regular';
}

main {
  position: relative;
}

ul {
  padding: 0;
}

.models__list::-webkit-scrollbar,
.model__draggable::-webkit-scrollbar {
  display: none;
}

.video__shadow::before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 5px;
  height: 20px;
  box-shadow: 0px -10px 35px 15px rgba(0, 0, 0, 0.98);
}
